.forms_container {
    display: flex;
    justify-content: space-between;
}

.search_bars {
    padding: 55px 68px;
}

.search_bars form {
    width: 450px;
    height: 64px;

    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #C1DCDC;
    padding: 18px 10px 18px 18px;
    border-radius: 12px;
}

.search_bars form input {
    padding: 15px;
    width: 100%;
    color: #1E1E1E80;
    font-size: 18px;
    border: none;
    outline: 0;
}

.search_bars form input::placeholder {
    color: #1E1E1E80;
}

.search_bars form button {
    width: 48px;
    height: 48px;
    background-color: #C1DCDC;
    padding: 14px;
    font-size: 20px;

    border: none;
    border-radius: 12px;

    cursor: pointer;
    transition: filter 0.2s;
}

.search_bars form button:hover{
    filter: brightness(0.9);
}

.search_bars form select {
    padding: 20px;
    width: 100%;
    color: #1E1E1E80;
    font-size: 18px;

    border: none;
    border-radius: 12px;
    outline: 0;
    background-color: transparent;
}

.search_bars form select option {
    border-radius: 12px;
}

.search_bars .select_form  {
    padding: 0px;
}

.product_content_container {
    padding: 0px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-bottom: 100px;
}

.product_content_container h1 {
    margin-bottom: 60px;
}

 .products_cards_container {
    gap: 100px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.product_card {
    display: flex;
    flex-direction: column;
}