.card_image {
    margin-bottom: 12px;
    border-radius: 12px;
}

.image_size_normal {
    width: 300px;
    height: 350px;
    object-fit: contain;
}

.card_title {
    font-weight: 700;
}

.card_description {
    color: #1E1E1E80;
}

.title_marginB_normal {
    margin-bottom: 8px;
}
.title_marginB_medium {
    margin-bottom: 12px;
}

.small_size {
    width: 250px;
}

.normal_size {
    width: 300px;
}

.categories_size {
    width: 352px;
    height: 620px;
}

.card_label {
    display: flex;
    flex-direction: column;
}